[submodule "OrchardCoreContrib"]
	path = OrchardCoreContrib
	url = https://github.com/OrchardCoreContrib/OrchardCoreContrib.git
[submodule "OrchardCoreContrib.Testing"]
	path = OrchardCoreContrib.Testing
	url = https://github.com/OrchardCoreContrib/OrchardCoreContrib.Testing.git
