@using OrchardCoreContrib.GoogleMaps
@using OrchardCoreContrib.GoogleMaps.ViewModels
@model GoogleMapPartViewModel

@{
    var queryString = Model.DevelopmentMode
    ? $"callback=loadMap"
    : $"key={Model.Settings.ApiKey}&callback=loadMap";
}

<div id="google-map" class="mt-3" style="width: 580px;height:400px"></div>

<script at="Head">
    function loadMap() {
        var mapOptions = {
           center: new google.maps.LatLng(@Model.Latitude, @Model.Longitude),
           zoom: 7
        };
        var map = new google.maps.Map(document.getElementById("google-map"), mapOptions);
                
        var marker = new google.maps.Marker({
           position: new google.maps.LatLng(@GoogleMapsDefaults.Latitude, @GoogleMapsDefaults.Longitude),
           map: map,
        });
    }
</script>

<script at="Foot" asp-src="https://maps.googleapis.com/maps/api/js?@queryString"></script>
