@model HtmlBodyPartViewModel

<div class="form-group">
    <label asp-for="Html">@Model.TypePartDefinition.DisplayName()</label>
    <input asp-for="Html" type="hidden" class="form-control" />

    <iframe src="~/OrchardCoreContrib.Html/GrapesJS/Index" style="width: 100%; height: 900px;">
    </iframe>
    <span class="hint">@T["The body of the content item."]</span>
</div>