@using OrchardCore.Environment.Shell
@inject ShellSettings ShellSettings
@{
    Layout = null;
}

@functions
{
    public string PreviewPagePath
    {
        get
        {
            var previewPage = Context.Request.RouteValues["page"]?.ToString() ?? "/";
            var path = ShellSettings.Name == "Default"
                ? previewPage
                : $"/{ShellSettings.RequestUrlPrefix}/{previewPage}";

            return path;
        }
    }
}

<html>
<head>
    <style asp-name="bootstrap" version="5.1.3"></style>
    <style asp-name="page-preview-bar" version="1.0.0"></style>
    <script asp-name="font-awesome" at="Head" version="5"></script>
    <script asp-name="font-awesome-v4-shims" at="Head" version="5"></script>
    <script asp-name="jQuery" at="Foot" version="3.6.0"></script>
    <script asp-name="bootstrap" at="Foot" version="5.1.3"></script>
    <script asp-name="page-preview-bar" at="Foot" version="1.0.0"></script>
    <resources type="Header" />
    <style>
        html {
            overflow-y: hidden;
        }

        body {
            background-color: #212832;
        }
    </style>
</head>
<body>
    <partial name="_PagePreviewBar" />
    <iframe src="@(PreviewPagePath)?preview=true"></iframe>
    <resources type="Footer" />
</body>
</html>