@using OrchardCore.Environment.Shell
@inject ShellSettings ShellSettings
@{
    Layout = null;
}

@functions
{
    public string PreviewPagePath
    {
        get
        {
            var previewPage = Context.Request.RouteValues.ContainsKey("page")
                ? Context.Request.RouteValues["page"]
                : String.Empty;

            return $"/{ShellSettings.RequestUrlPrefix}/{previewPage}";
        }
    }
}

<html>
<head>
    <style asp-name="bootstrap" version="5.1.3" />
    <script asp-name="font-awesome" at="Head" version="5"></script>
    <script asp-name="font-awesome-v4-shims" at="Head" version="5"></script>
    <script asp-name="jQuery" at="Foot" version="3.6.0"></script>
    <script asp-name="bootstrap" at="Foot" version="5.1.3"></script>
    <resources type="Header" />
    <style>
        html {
            overflow-y: hidden;
        }

        body {
            background-color: #212832;
        }

        nav {
            border-bottom-style: solid;
            padding-left: calc(50% - 88px);
        }

        label {
            width: 44px;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
        }

        .tablet-preview {
            width: 768px;
            left: 50%;
            transform: translate(-50%);
        }

        .mobile-preview {
            width: 375px;
            left: 50%;
            transform: translate(-50%);
        }
    </style>
</head>
<body>
    <nav class="navbar sticky-top navbar-light bg-light border-primary border-3">
        <div class="container-fluid">
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check" name="btnDevicePreview" id="btnDesktopPreview" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnDesktopPreview" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Desktop Preview"><i class="fa fa-desktop"></i></label>

                <input type="radio" class="btn-check" name="btnDevicePreview" id="btnTabletPreview" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnTabletPreview" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tablet Preview"><i class="fa fa-tablet"></i></label>

                <input type="radio" class="btn-check" name="btnDevicePreview" id="btnMobilePreview" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnMobilePreview" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mobile Preview"><i class="fa fa-mobile"></i></label>
            </div>
        </div>
    </nav>
    <iframe src="@(PreviewPagePath)?preview=true"></iframe>
    <resources type="Footer" />
    <script>
        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip();

            $('#btnDesktopPreview').change(function() {
                if(this.checked) {
                    $('iframe').removeClass();
                }
            });
            $('#btnTabletPreview').change(function() {
                if(this.checked) {
                    $('iframe').removeClass();
                    $('iframe').addClass('tablet-preview');
                }
            });
            $('#btnMobilePreview').change(function() {
                if(this.checked) {
                    $('iframe').removeClass();
                    $('iframe').addClass('mobile-preview');
                }
            });
        });
    </script>
</body>
</html>