@using OrchardCore.Environment.Shell
@inject ShellSettings ShellSettings
@{
    Layout = null;
}

@functions
{
    public string PreviewPagePath
    {
        get
        {
            var previewPage = Context.Request.RouteValues.ContainsKey("page")
                ? Context.Request.RouteValues["page"]
                : String.Empty;

            return $"/{ShellSettings.RequestUrlPrefix}/{previewPage}";
        }
    }
}

<html>
<head>
    <style asp-name="bootstrap" version="5.1.3"></style>
    <script asp-name="font-awesome" at="Head" version="5"></script>
    <script asp-name="font-awesome-v4-shims" at="Head" version="5"></script>
    <script asp-name="jQuery" at="Foot" version="3.6.0"></script>
    <script asp-name="bootstrap" at="Foot" version="5.1.3"></script>
    <resources type="Header" />
    <style>
        html {
            overflow-y: hidden;
        }

        body {
            background-color: #212832;
        }

        nav {
            border-bottom-style: solid;
            padding-left: calc(50% - 88px);
        }

        label {
            width: 44px;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 94%;
            border: none;
        }

        .tablet-preview {
            width: 768px;
            left: 50%;
            transform: translate(-50%);
        }

        .mobile-preview {
            width: 375px;
            left: 50%;
            transform: translate(-50%);
        }
    </style>
</head>
<body>
    <partial name="_PagePreviewBar" />
    <iframe src="@(PreviewPagePath)?preview=true"></iframe>
    <resources type="Footer" />
    <script>
        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip();

            $('#btnDesktopPreview').change(function() {
                if(this.checked) {
                    $('iframe').removeClass();
                }
            });
            $('#btnTabletPreview').change(function() {
                if(this.checked) {
                    $('iframe').removeClass();
                    $('iframe').addClass('tablet-preview');
                }
            });
            $('#btnMobilePreview').change(function() {
                if(this.checked) {
                    $('iframe').removeClass();
                    $('iframe').addClass('mobile-preview');
                }
            });
        });
    </script>
</body>
</html>