@{
    Layout = null;
}

@functions
{
    public string PreviewPagePath
    {
        get
        {
            var requestPath = Context.Request.Path.Value;
            var previewPage = requestPath.Substring(requestPath.IndexOf($"/{Constants.PreviewSlug}") + Constants.PreviewSlug.Length + 1);
            var path = String.Concat(Context.Request.PathBase.Value, previewPage);

            return path;
        }
    }
}

<html>
<head>
    <style asp-name="bootstrap"></style>
    <style asp-name="page-preview-bar" version="1.0.0"></style>
    <script asp-name="font-awesome" at="Head"></script>
    <script asp-name="font-awesome-v4-shims" at="Head"></script>
    <script asp-name="bootstrap" at="Foot"></script>
    <script asp-name="page-preview-bar" at="Foot" version="1.0.0" depends-on="jQuery"></script>
    <resources type="Header" />
    <style>
        html {
            overflow-y: hidden;
        }

        body {
            background-color: #212832;
        }
    </style>
</head>
<body>
    <partial name="_PagePreviewBar" />
    <iframe src="@(PreviewPagePath)?preview=true"></iframe>
    <resources type="Footer" />
</body>
</html>