@{
    Layout = null;
}

<link href="/OrchardCoreContrib.Html/Styles/grapes.min.css" rel="stylesheet" type="text/css" />
<link href="/OrchardCoreContrib.Html/Styles/grapesjs-preset-webpage.min.css" rel="stylesheet" type="text/css" />
<link href="/OrchardCoreContrib.Html/Styles/grapes-editor.css" rel="stylesheet" type="text/css" />
<div>    
    <div id="editor" class="grapes-editor">
    </div>

    <script src="/OrchardCoreContrib.Html/Scripts/grapes.min.js"></script>
    <script src="/OrchardCoreContrib.Html/Scripts/grapesjs-preset-webpage.min.js"></script>
    <script src="/OrchardCoreContrib.Html/Scripts/grapes-editor.js"></script>

    <script>
        initGrapesJs('HtmlBodyPart_Html');
    </script>
</div>