@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()">
<head>

    <style asp-name="grapes" at="Head" version="1.0.0"></style>
    <style asp-name="grapes-preset" at="Head" version="1.0.0"></style>
    <style asp-name="grapes-editor" at="Head" version="1.0.0"></style>
    <script asp-name="grapes" at="Head" version="1.0.0"></script>
    <script asp-name="grapes-preset" at="Head" version="1.0.0"></script>
    <script asp-name="grapes-editor" at="Head" version="1.0.0"></script>
    <resources type="Header" />
</head>
<body>
    <div>
        <div id="editor" class="grapes-editor"></div>

        <script at="Foot">
            initGrapesJs('HtmlBodyPart_Html');
        </script>
    </div>

    <resources type="Footer" />
</body>
</html>