@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var cookieString = consentFeature?.CreateConsentCookie();
}

<style>
    .sticky {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 2147483647;
    }

    .override-font {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
    }
</style>

<div id="cookieConsent" class="alert alert-info alert-dismissible fade show sticky override-font" role="alert">
    Use this space to summarize your privacy and cookie use policy. <a asp-area="OrchardCoreContrib.Gdpr" asp-page="/Privacy">Learn More</a>.
    <button type="button" class="accept-policy close override-font" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
        <span aria-hidden="true">Accept</span>
    </button>
</div>
<script>
    (function () {
        var button = document.querySelector("#cookieConsent button[data-cookie-string]");
        button.addEventListener("click", function () {
            document.cookie = button.dataset.cookieString;
        }, false);
    })();
</script>