@using OrchardCoreContrib.Gdpr
@model GdprSettings

<div class="form-group" asp-validation-class-for="Summary">
    <label asp-for="Summary">@T["Summary"]</label>
    <input asp-for="Summary" class="form-control" type="text" />
    <span asp-validation-for="Summary"></span>
    <span class="hint">@T["The message to summarize your privacy and cookie use policy."]</span>
</div>

<div class="form-group" asp-validation-class-for="Detail">
    <label asp-for="Detail">@T["Detail"]</label>
    <textarea asp-for="Detail" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Detail"></span>
    <span class="hint">@T["The content to detail your site's privacy policy."]</span>
</div>