@using Microsoft.AspNetCore.Authorization
@using OrchardCore.ContentManagement
@using OrchardCore.Environment.Shell
@using OrchardCoreContrib.Contents
@using OrchardCoreContrib.Contents.Models
@using OrchardCoreContrib.Contents.Services
@using OrchardCoreContrib.Contents.ViewModels
@model ShareDraftViewModel
@inject ISharedDraftLinkService LinkService
@inject ShellSettings ShellSettings
@inject IAuthorizationService AuthorizationService

@{
    var tenant = ShellSettings.RequestUrlPrefix;
    var link = await LinkService.GenerateLinkAsync(Model.ContentItem);
    var fullLink = string.IsNullOrEmpty(ShellSettings.RequestUrlPrefix)
        ? $"{Context.Request.Scheme}://{Context.Request.Host}{link}"
        : $"{Context.Request.Scheme}://{Context.Request.Host}/{tenant}{link}";
}

<div class="btn-group mb-1">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#shareDraftModal">
        @T["Share Draft"]
    </button>
</div>
<div class="btn-group mb-1">
    @if (await AuthorizationService.AuthorizeAsync(User, ContentsPermissions.RevokeDraftContent))
    {
        <button name="submit.Save" type="submit" class="btn btn-danger" value="Revoke">
            @T["Revoke Link"]
        </button>
    }
</div>

<div class="modal fade" id="shareDraftModal" tabindex="-1" aria-labelledby="shareDraftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareDraftModalLabel">@T["Share Draft Link"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="linkInput" type="text" class="form-control" readonly value="@fullLink" />
                <button id="copyButton" type="button" class="btn btn-outline-secondary mt-2" onclick="copyUrl()">
                    Copy to Clipboard
                </button>
                <p class="text-muted mt-2">Valid for 30 days</p>
            </div>
        </div>
    </div>
</div>

<script at="Foot">
    function copyUrl() {
        const link = document.getElementById('linkInput').value;
        navigator.clipboard.writeText(link);

        var copyButton = document.getElementById('copyButton');
        copyButton.setAttribute('class', 'btn btn-secondary mt-2');
        copyButton.innerText = 'Copied!';
    }
</script>
